[user]
	name = Stian Grindvoll
	email = stian@grindvoll.org
[core]
	editor = vim
	pager = diff-so-fancy | less --tabs=4 -RFX
[commit]
	gpgsign = true
[color]
	ui = true
[color "diff"]
	meta = yellow
	commit = yellow bold
[branch]
	autosetuprebase = always
[alias]
	ls = log --graph --abbrev-commit --decorate --format=format:'%C(yellow)%h%C(reset) %C(cyan)(%ar)%C(reset) %C(dim white)%s%C(reset)%C(dim red)%d%C(reset) %C(blue)[%an]%C(reset)' --all
	ll = log --decorate --numstat --pretty=format:'%C(yellow)%h %C(dim white)%s %C(reset)%C(dim red)%d%C(reset)%Cblue[%cn]'
	dt = difftool
	df = diff
[diff]
	tool = vimdiff
[difftool]
	prompt = false
